@using MvcTicariOtomasyon.Models.Siniflar
@model List<KargoTakip>
@{
    ViewBag.Title = "KargoDetay";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<h4 class="text-center text-warning mt-1">Kargo Takip Detayları</h4>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Açıklama</th>
        <th>Tarih</th>
    </tr>
    @{ int adim = 0;}  
    @foreach (var takip in Model)
    {
        adim++;
        <tr>
            <td>@adim.ToString()</td>
            <td>@takip.Aciklama</td>
            <td>@takip.TarihZaman</td>
        </tr>
    }
</table>

